/*!
 * ABRUPT éditions
 */
@charset "UTF-8";

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-bold-webfont.woff2') format('woff2'),
    url('fonts/crimson-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-italic-webfont.woff2') format('woff2'),
    url('fonts/crimson-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-bolditalic-webfont.woff2') format('woff2'),
    url('fonts/crimson-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-roman-webfont.woff2') format('woff2'),
    url('fonts/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

::selection {
  color: #333333;
  background-color: #f00;
}

body {
  font-family: "Crimson Text", Crimson, Garamond, Georgia, Times, serif;
  color: #333;
  background-color: #fff;
  quotes: '«\00A0' '\00A0»' "“" "”";
  letter-spacing: 0.01em;
  line-height: 1.8;
  width: 100%;
  margin: 0 auto;
  /* font-size: 1.6rem; */
  /* font-size: calc(1rem + 1vw); */
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  -webkit-hyphens: auto; -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

@media (min-width: 90em) {
  body {
    font-size: 2.4rem;
  }
}

a {
  margin: 0 0;
  line-height: 1;
  color: #333333;
  font-style: italic;
  text-decoration:none;
  outline: none;
  cursor: pointer;
  display: block;
  border: 2px solid #000000;
  padding: 0.4em;
}

a:focus,
a:active,
a:hover {
  border: 2px solid #ff0000;
}


.footnote-ref {
}
.footnote-ref:hover,
.footnote-ref:focus,
.footnote-ref:active {
  color: unset;
  background-color: unset;
  text-decoration: unset;
  outline: unset;
}
.footnote-ref sup {
  padding: 0.2em;
}
.footnote-ref sup:hover,
.footnote-ref sup:focus,
.footnote-ref sup:active {
  color: #fff;
  background-color: #333;
  text-decoration: none;
  outline: none;
}

code {
  /* correction milligram */
  background: #eeeeee;
  border-radius: 0;
  font-size: 1.5rem;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: pre-wrap;
  /*ajout*/
  font-family: "Crimson Text", Garamond, Georgia, Times, serif;
}

pre {
  /* correction milligram */
  background: #eeeeee;
  border-left: 0.3rem solid #333333;
  overflow-y: hidden;
  /*ajout*/
  overflow-x: auto;
  width: 80%;
  /* white-space: pre-wrap; */
  /* overflow-wrap: break-word; */
  /* width: 100%; */
  /* width: auto; */
}
pre > code {
  /* correction milligram */
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;
  /* word-break: break-all; */
  /*ajout*/
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
  width: 100%;
  outline: none;
}

figure {
  margin: 0;
  margin-bottom: 1.6em;
}

figcaption p {
  /* font-style: italic; */
  margin-top: 0;
  font-size: 1.5rem;
}

figure a {
  margin: 0 0;
  padding: 0 0;
  color: unset;
	font-style: normal;
  border-bottom: unset;
  height: 1.6em;
  text-indent: 0em;
}

figure a:hover, figure a:focus, figure a:active {
  background-color: unset;
  color: unset;
  text-decoration: unset;
}


em {
  font-style: italic;
}

p {
  margin: 0;
  padding: 0 0 1.6em;
}

.scshape {
  font-variant: small-caps;
}

p + p {
  /* text-indent: 1em; */
}

blockquote + p {
  /* text-indent: 1em; */
}

blockquote {
  /* text-indent: 1em; */
  font-style: italic;
  margin: 1em 2em;
}

p + h1, p + h2, p + h3 {
  margin-top: 1.6em;
}

h1, h2, h3 {
  letter-spacing: 0.01rem;
  margin: 0 0;
  line-height: 1.6;
  font-size: inherit;
  /* font-style: italic; */
  font-style: normal;
  font-weight: normal;
}

h2 {
  margin: 0 0;
}

h3 {
  margin: 0 0;
}

hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid #333333;
  margin: 1em auto;
  padding: 0;
}

ul {
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-align: left;
  /* Avec les espaces insécables */
  /* text-indent: -1.15em; */
  /* padding-left: 2.15em; */
  /* sans les espaces insécables */
}

ol {
  list-style: decimal outside;
  margin-left: 2em;
}

li {
  line-height: 1.6;
  margin: 0;
  /* list-style: none; */
  /* font-variant: small-caps; */
  /* text-decoration: none; */
}

.alignement-centre {
  text-align: center;
}

.alignement-droite {
  text-align: right;
}

.italique {
  font-style: italic;
}

.pasdesautdeligne {
  margin-bottom: 0;
}

.sautdeligne {
  margin-bottom: 1.6em;
}

.sautdeligneaudessus {
  margin-top: 1.6em;
}

.noindent {
  text-indent: 0;
}

.footnotes {
  font-size: 0.8em;
  padding: 1em 1.6em;
}

.footnotes hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid #333333;
  margin: 3em auto 3em;
  padding: 0;
}

.footnotes li {
  padding: 0.8em 0;
}

.footnote-ref a[href^="#fn:"] {
  text-decoration: none;
  border-bottom: none;
  color: #ff0000;
	font-style: normal;
}

.footnote-ref a[href^="#fn:"]:hover,
.footnote-ref a[href^="#fn:"]:focus,
.footnote-ref a[href^="#fn:"]:active {
  color: #333333;
  text-decoration: none;
  outline: none;
}

.footnotes p:last-of-type {
  margin-bottom: 0em;
  display: inline;
}

.footnote-return {
  text-decoration: none;
  border-bottom: none;
  color: #ff0000;
	font-style: normal;
}

.footnote-ref {
	font-style: normal;
  margin-left: 0.1em;
  text-decoration: none;
  border-bottom: none;
}

.footnote-back {
	font-style: normal;
  margin-left: 0.1em;
  text-decoration: none;
  border-bottom: none;
}

.logo {
  text-align: center;
  font-size: 1.6em;
  margin: 0;
  &:hover, &:focus, &:active {
    background-color: #ff0000;
    .glitch--continu::before, .glitch--continu::after {
      animation: unset;
    }
  }
}

.logo a {
  font-style: normal;
  border: none;
  margin: 0.5em 0 0;
  height: 100%;
  width: 2em;
  &:hover, &:focus, &:active {
    background-color: unset;
    color: unset;
    text-decoration: none;
    outline: none;
  }
}

.date {
  text-align: center;
  font-size: 1.0em;
}

/* Animation */
/* Glitch */
.glitch {
	position: relative;
}
.glitch:hover:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #333;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.glitch:hover:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #333333;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
.glitch--continu {
  position: relative;
  display: block;
}
.glitch--continu::before {
  content: attr(data-text);
  position: absolute;
  left: -4px;
  text-shadow: 1px 0 #fff;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 2s infinite linear alternate-reverse;
}
.glitch--continu::after {
  content: attr(data-text);
  position: absolute;
  left: 4px;
  text-shadow: -1px 0 #ff0000;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 1s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip: rect(21px, 9999px, 76px, 0);
  }
  5% {
    clip: rect(26px, 9999px, 85px, 0);
  }
  10% {
    clip: rect(9px, 9999px, 66px, 0);
  }
  15% {
    clip: rect(71px, 9999px, 86px, 0);
  }
  20% {
    clip: rect(16px, 9999px, 48px, 0);
  }
  25% {
    clip: rect(33px, 9999px, 71px, 0);
  }
  30% {
    clip: rect(14px, 9999px, 72px, 0);
  }
  35% {
    clip: rect(15px, 9999px, 76px, 0);
  }
  40% {
    clip: rect(88px, 9999px, 14px, 0);
  }
  45% {
    clip: rect(78px, 9999px, 60px, 0);
  }
  50% {
    clip: rect(2px, 9999px, 98px, 0);
  }
  55% {
    clip: rect(40px, 9999px, 31px, 0);
  }
  60% {
    clip: rect(40px, 9999px, 100px, 0);
  }
  65% {
    clip: rect(61px, 9999px, 72px, 0);
  }
  70% {
    clip: rect(97px, 9999px, 28px, 0);
  }
  75% {
    clip: rect(83px, 9999px, 91px, 0);
  }
  80% {
    clip: rect(25px, 9999px, 65px, 0);
  }
  85% {
    clip: rect(80px, 9999px, 46px, 0);
  }
  90% {
    clip: rect(79px, 9999px, 65px, 0);
  }
  95% {
    clip: rect(7px, 9999px, 85px, 0);
  }
  100% {
    clip: rect(73px, 9999px, 52px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(98px, 9999px, 23px, 0);
  }
  5% {
    clip: rect(32px, 9999px, 82px, 0);
  }
  10% {
    clip: rect(41px, 9999px, 74px, 0);
  }
  15% {
    clip: rect(31px, 9999px, 92px, 0);
  }
  20% {
    clip: rect(65px, 9999px, 92px, 0);
  }
  25% {
    clip: rect(52px, 9999px, 76px, 0);
  }
  30% {
    clip: rect(14px, 9999px, 50px, 0);
  }
  35% {
    clip: rect(24px, 9999px, 91px, 0);
  }
  40% {
    clip: rect(8px, 9999px, 19px, 0);
  }
  45% {
    clip: rect(57px, 9999px, 51px, 0);
  }
  50% {
    clip: rect(79px, 9999px, 12px, 0);
  }
  55% {
    clip: rect(68px, 9999px, 35px, 0);
  }
  60% {
    clip: rect(88px, 9999px, 49px, 0);
  }
  65% {
    clip: rect(94px, 9999px, 36px, 0);
  }
  70% {
    clip: rect(99px, 9999px, 97px, 0);
  }
  75% {
    clip: rect(12px, 9999px, 21px, 0);
  }
  80% {
    clip: rect(55px, 9999px, 95px, 0);
  }
  85% {
    clip: rect(73px, 9999px, 4px, 0);
  }
  90% {
    clip: rect(15px, 9999px, 64px, 0);
  }
  95% {
    clip: rect(68px, 9999px, 92px, 0);
  }
  100% {
    clip: rect(20px, 9999px, 84px, 0);
  }
}


/* Shake */
.shake {
  display: inline-block;
  vertical-align: top;
}
.shake:hover, .shake:focus, .shake:active {
  animation-name: shake;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.shake--continu {
  animation-name: shake;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: inline-block;
  vertical-align: top;
}
.shake--continu:hover, .shake--continu:focus, .shake--continu:active {
  animation: none;
}
@keyframes shake {
  2% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  4% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  6% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  8% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  10% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  12% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  14% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  16% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  18% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  20% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  22% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  24% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  26% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  28% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  30% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  32% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  34% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  36% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  38% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  40% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  42% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  44% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  46% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  48% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  50% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  52% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  54% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  56% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  58% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  60% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  62% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  64% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  66% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  68% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  70% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  72% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  74% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  76% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  78% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  80% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  82% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  84% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  86% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  88% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  90% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  92% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  94% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  96% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  98% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  0%, 100% {
  transform: translate(0, 0) rotate(0); }
}

/* Modifications spécifiques */

.antilivre {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  border: 4px solid red;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(5, 16vmin);
  grid-template-rows: 30px repeat(5, 16vmin) 30px;
  grid-gap: 2vmin;
  justify-content: center;
  align-content: center;
}
.colonne--debut {
  grid-area: 1 / 1 / 2 / span 5;
}
.colonne--fin {
  grid-area: 7 / 1 / span 1 / span 5;
}
.conteneur {
  background: #fff;
  cursor: move;
  border: 2px solid #333;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vmin;

  &:hover {
    border: 2px solid red;
    background: #fff;
  }

  h1 {
    text-align: center;
    hyphens: none;
    font-size: 0.45em;
  }
}

.conteneur.plein {
  cursor: ns-resize;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: 2px solid #333;
  background: #fff;
  grid-area: 2 / 1 / span 5 / span 5;
  z-index: 10;
  padding: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  h1 {
    text-align: center;
    hyphens: none;
    font-size: 1.4em;
    margin: 1em;
    font-variant: small-caps;
  }
}
.conteneur.plein::-webkit-scrollbar {
  display: none;
}

.conteneur.sortable-chosen {
  border: 2px solid red;
  background: #fff;
}

.informations {
  cursor: pointer;
  z-index: 20;
  margin-left: auto;
  grid-area: 1 / 5 / span 1 / span 1;
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before, &:after {
    position: absolute;
    content: '';
    height: 10px;
    width: 2px;
    background-color: #333;
    transition: 100ms transform linear;
  }
  &:before {
    transform: rotate(0deg);
  }
  &:after {
    transform: rotate(90deg);
  }
  &:hover {
    border: 2px solid red;
  }
  &:active,
  &focus {
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}

.informations--croix {
  &:before, &:after {
    transition: 100ms transform linear;
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
  &:hover {
    border: 2px solid red;
  }
  &:active,
  &focus {
    &:before {
      transform: rotate(0deg);
    }
    &:after {
      transform: rotate(90deg);
    }
  }
}

.page-titre {
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  background: #fff;
  grid-area: 2 / 1 / span 5 / span 5;
  z-index: 10;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 1em;

  .title {
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    display: block;
    z-index: 1;
  }

  .author {
    margin: 0;
    text-align: center;
    font-size: 1.0em;
    display: block;
  }

  .publisher {
    margin: 0;
    font-size: 0.8em;
    display: block;
  }

  .marquetypographique {
    display: block;
    height: 40%;
  }
}

.none {
  display: none;
}

@media (min-width: 550px) {
  .antilivre {
    grid-template-columns: 30px repeat(5, 15vmin) 30px;
    grid-template-rows: repeat(5, 15vmin);
  }
  .colonne--debut {
    grid-area: 1 / 1 / span 5 / 2;
  }
  .colonne--fin {
    grid-area: 1 / 7 / span 5 / span 1;
  }
  .informations {
    grid-area: 1 / 7 / 2 / span 1;
  }
  .conteneur.plein {
    grid-area: 1 / 2 / span 5 / span 5;
  }
  .page-titre {
    grid-area: 1 / 2 / span 5 / span 5;
  }
}
@media (min-width: 600px) {
  .conteneur h1 {
    text-align: center;
    font-size: 0.5em;
  }
}
@media (min-width: 750px) {
  .conteneur h1 {
    text-align: center;
    font-size: 0.6em;
  }
}
@media (min-width: 1000px) {
  .conteneur h1 {
    text-align: center;
    hyphens: none;
    font-size: 0.7em;
  }
  .page-titre {
    .title {
      margin: 0;
      text-align: center;
      font-size: 1.8em;
      display: block;
      z-index: 1;
    }

    .author {
      margin: 0;
      text-align: center;
      font-size: 1.5em;
      display: block;
    }

    .publisher {
      margin: 0;
      font-size: 1.2em;
      display: block;
    }

    .marquetypographique {
      display: block;
      height: 40%;
    }
  }
  a {
    padding: 0.6em;
  }
}
